<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/technicalTask.css" />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../styles/background.css">
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/root.css">
    <title>Technical Task</title>
  </head>
  <body>
    <div class="task">
      <div class="d-flex jc-sb">
        <div class="d-flex alic technicalTaskBackground plr1 br1"><span>Technical Task</span></div>
        <div><img src="../img/close.svg" alt=""></div>
      </div>
      <div>
        <h1 id="title">CSS Architecture Planning</h1>
      </div>
      <div>
        <span id="description">Define CSS naming conventions and structure</span>
      </div>
      <div class="d-flex gap1">
        <span>Due date:</span>
        <span>02/09/2023</span>
      </div>
      <div>
        <div class="priority">
          <span>Priority:</span>
          <div class="status">
            <span>Urgent</span>
            <img src="../img/urgentTechnicalTask.svg" alt="" />
          </div>
        </div>
      </div>
      <div>
        <span>Assigned To:</span>
      </div>
      <div class="d-flex dflex-col gap1">
        <div class="d-flex alic gap1">
          <div class="circle">SM</div>
          <div>Benedikt Ziegler</div>
        </div>
        <div class="d-flex alic gap1">
          <div class="circle">BZ</div>
          <div>Sofia Müller (You)</div>
        </div>
      </div>
      <div>
        <span>Subtasks</span>
      </div>
      <div>
        <div class="d-flex gap1">
          <div><input type="checkbox" /></div>
          <span>Establish CSS Methodolgy</span>
        </div>
        <div class="d-flex gap1">
            <div><input type="checkbox" /></div>
            <span>Setup Base Styles</span>
        </div>
      </div>
      <div class="d-flex jc-fe pt1">
        <div class="d-flex alic gap1">
          <img src="../img/delete.svg" alt="" />
          <span>Delete</span>
          <span class="stroke"></span>
          <img src="../img/edit.svg" alt="" />
          <span>Edit</span>
        </div>
      </div>
    </div>
  </body>
</html>
