<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/header.css" />
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/root.css">
    <title>Header</title>
  </head>
  <body>
    <div class="header">
      <div class="joinLogo">
        <img src="../img/joinLogo.svg" alt="" />
      </div>
      <div class="headline">
        <span>Kanban Project Management Tool</span>
      </div>
      <div class="userIcons">
        <div class="smallCircle">
          <span>?</span>
        </div>
        <div class="circle">
          <span>DG</span>
        </div>
      </div>
    </div>
  </body>
</html>