<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/addtask.css">
  <title>Document</title>
</head>
<script>

function toggleDropdown() {
    var menu = document.getElementById("dropdownMenu");
    menu.style.display = menu.style.display === "block" ? "none" : "block";
}

// Schließen, wenn man außerhalb des Dropdowns klickt
window.onclick = function(event) {
    if (!event.target.matches('button')) {
        document.getElementById("dropdownMenu").style.display = "none";
    }
}


</script>
<STYle>

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 1rem;
}

.hover:hover{
  background-color: grey;
}

</STYle>
<body>
  <button onclick="toggleDropdown()">Dropdown</button>
  <div id="dropdownMenu" class="dropdown-content">
      <div class="hover" href="#">Option 1</div>
      <div href="#">Option 2</div>
      <div href="#">Option 3</div>
      <div href="#">Option 3</div>
      <div href="#">Option 3</div>
      <div href="#">Option 3</div>
      <div href="#">Option 3</div>
      <div href="#">Option 3</div>
      <div href="#">Option 3</div>
      <div href="#">Option 3</div>
      <div href="#">Option 3</div>
      <div href="#">Option 3</div>
  </div>
  

</body>
</html>


