h1 {
    font-size: var(--h1-font-size);
}

.main-addTask-container {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1120px;
    margin: 14px auto;
    max-height: 600px;
    padding: 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.addTask-content-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-description-assigned-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-description-assigned {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inputAssignedToContainer {
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    height: 42px;
    border-radius: var(--button-radius);
    padding: 8px;
    background-color: white;
    align-items: center;

    position: relative;
    z-index: 2;
}

.dropDownContainer {
    /* border: 1px solid #D1D1D1; */
    border-radius: var(--button-radius);
    background-color: white;
    margin-top: -42px;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-height: 230px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.inputAssignedToContainer:focus-within, .subtasks-input-add-container:focus-within {
    border-color: var(--join-light-blue);
}

.inputAssignedToContainer input {
    border: none;
    outline: none;
    height: 32px;
}

.inputAssignedToContainer img, .category-container img {
    width: 10px;
    height: 10px;
}

.dropDownContacts{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
}

.initialNameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.initialsAssigned {
    width: 42px;
    height: 42px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    background-color: yellow;
}

.renderedInitialsContainer {
    display: flex;
    gap: 12px;
    margin-top: 8px;
    overflow: auto;
}

.renderedInitial{
    border: 1px solid green;
    border-radius: 50px;
    height: 32px;
    width: 32px;
    padding: 4px;
   
}

.addTask-seperator-container {
    background-color: #D1D1D1;
    width: 2px;
    height: 310px;
    display: none;
}

.dueDate-prio-category-subtasks-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dueDate-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.prio-buttons {
    display: flex;
    height: 32px;
    gap: 12px;
}

.prio-buttons button {
    font-size: 14px;
}

.prio-buttons img {
    width: 20px;
    height: 14px;
}

.prio-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.urgentButton, .mediumButton, .lowButton  {
    border-radius: var(--button-radius);
    border: 1px solid #D1D1D1;
    background-color: white;
    flex: 1;
}

.category-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    /* display: none; */
    display: flex;
}

.subtasks-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    /* display: none; */
    display: flex;
}

.subtasks-input-add-container {
    border-radius: var(--input-select-textarea-radius);
    height: 42px;
    padding: 8px;
    border: 1px solid #D1D1D1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtasks-input {
    border: none;
    outline: none;
}

.add-subtask, .arrow-drop-down-img, .subtask-close-icon, .subtask-checked-icon{
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.add-subtask img {
    width: 12px;
    height: 12px;
}

.subtask-close-icon img, .subtask-checked-icon img {
    width: 18px;
    height: 18px;
}

.close-separator-checked-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.subtask-separator {
    background-color: #D1D1D1;
    width: 1px;
    height: 24px;
}

.add-subtask:hover, .arrow-drop-down-img:hover, .subtask-close-icon:hover, .subtask-checked-icon:hover {
    border-radius: 50%;
    background-color: #D1D1D1;
}

.rendered-task-container {
    height: 60px;
    overflow-y: auto; 
}

.subtaskList {
    padding-bottom: 8px;
}

.title-input {
    border-radius: var(--input-select-textarea-radius);
    height: 40px;
    padding: 8px;
    border: 1px solid #D1D1D1;
    outline: none;
}

.title-input:focus, textarea:focus {
    border-color: var(--join-light-blue);
}

.star {
    color: red;
}

.addTask-label {
    font-size: var(--addTask-label-font-size);
}

textarea {
    border-radius: var(--input-select-textarea-radius);
    padding: 8px;
    border: 1px solid #D1D1D1;
    resize: none;
    outline: none;
}

.category-header-container {
    border-radius: var(--input-select-textarea-radius);
    height: 42px;
    padding: 8px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    
    position: relative;
    z-index: 2;
}

.category-dropdown-container {
    border-radius: var(--input-select-textarea-radius);
    background-color: white;
    display: flex;
    flex-direction: column;

    margin-top: -40px;
    padding-top: 36px;
}

.choose-category-container {
    border-radius: var(--input-select-textarea-radius);
    height: 34px;
    padding: 8px;
    background-color: white;
    cursor: pointer;
}

.choose-category-container:hover, .dropDownContacts:hover {
    border-radius: var(--input-select-textarea-radius);
    background-color: rgb(223, 219, 219);
}

.form-confirmation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.clear-create-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 46px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #2a3647;
    background-color: var(--button-background-color-bright);
    font-size: var(--button-font-size);
    cursor: pointer;   
}

.create-task-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 46px;
    width: 166px;
    border-radius: var(--button-radius);
    border: 1px solid #2a3647;
    background-color: var(--button-background-color-dark);
    color: white;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    cursor: pointer;
}

.required {
    font-size: 12px;
}

.d-none {
    display: none;
}

.opacity-0 {
    opacity: 0;
}



@media(min-width: 450px) {
    .clear-button {
        display: flex;
    }

    .subtasks-container, .category-header-container, .urgent-medium-low-buttons,
    .title-input, textarea, .inputAssignedToContainer {
        cursor: pointer;
    }
}

@media(min-width: 550px) {
    .addTask-content-form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .title-description-assigned-container,
    .dueDate-prio-category-subtasks-container {
        flex: 1;
        /* Sorgt dafür, dass beide Container den verfügbaren Platz gleichmäßig nutzen */
    }

    /* .category-container {
        display: flex;
    } */

    /* .subtasks-container {
        display: flex;
    } */

    .addTask-seperator-container {
        display: block;
    }
}