@font-face {
    font-family: Inter;
    src: url("../font/Inter-VariableFont_opsz\,wght.ttf");
}


body {
    font-family: 'Inter';
}

* {
    box-sizing: border-box;
    margin: 0px;
}

h1 {
    font-size: var(--h1-font-size);
}

.main-addTask-container {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addTask-content-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-description-assigned-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-description-assigned {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.addTask-seperator-container {
    background-color: #D1D1D1;
    width: 2px;
    height: 310px;
    display: none;
}

.dueDate-prio-category-subtasks-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dueDate-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.prio-buttons {
    display: flex;
    height: 32px;
    gap: 12px;
}

.prio-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.urgent-medium-low-buttons {
    border-radius: var(--button-radius);
    border: 1px solid #D1D1D1;
    background-color: white;
    cursor: pointer;
    flex: 1;
}

.category-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    display: none;
}

.subtasks-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    display: none;
}

.subtasks-input-add-container {
    border-radius: var(--input-select-textarea-radius);
    height: 34px;
    padding: 8px;
    border: 1px solid #D1D1D1;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.subtasks-input {
    border: none;
}

.add-button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.title-input {
    border-radius: var(--input-select-textarea-radius);
    height: 28px;
    padding: 8px;
    border: 1px solid #D1D1D1;
}

.star {
    color: red;
}

.addTask-label {
    font-size: var(--addTask-label-font-size);
}

textarea {
    border-radius: var(--input-select-textarea-radius);
    padding: 8px;
    border: 1px solid #D1D1D1;
    resize: none;
}

select {
    border-radius: var(--input-select-textarea-radius);
    height: 34px;
    padding: 8px;
    border: 1px solid #D1D1D1;
}

.form-confirmation {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.clear-button {
    height: 46px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #2a3647;
    background-color: var(--button-background-color-bright);
    font-size: var(--button-font-size);
    cursor: pointer;
    display: none;
}

.create-task-button {
    height: 46px;
    width: 128px;
    border-radius: var(--button-radius);
    border: 1px solid #2a3647;
    background-color: var(--button-background-color-dark);
    color: white;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    cursor: pointer;
}

.required {
    font-size: 12px;
}

.d-none {
    display: none;
}



@media(min-width: 450px) {
    .clear-button {
        display: inline-block;
    }
}

@media(min-width: 550px) {
    .addTask-content-form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .title-description-assigned-container,
    .dueDate-prio-category-subtasks-container {
        flex: 1;
        /* Sorgt dafür, dass beide Container den verfügbaren Platz gleichmäßig nutzen */
    }

    .category-container {
        display: flex;
    }

    .subtasks-container {
        display: flex;
    }

    .addTask-seperator-container {
        display: block;
    }
}