.technicalTaskBackground{
    background-color: #1fd7c1;
}

.userStoryBackground{
  background-color: #0038ff;
}

.colorGreyBg{
    background-color: gray;
  }

.colorBlueBg{
    background-color: #4589ff;
}