.boardDesktop {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
}

.board {
  min-width: 20rem;
  max-width: 70rem;
  padding: 4.5rem 2rem;
  width: 100%;
}

.input-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  flex-grow: 1;
}

input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.divider {
  height: 24px;
  width: 1px;
  background-color: #ccc;
  margin-right: 10px;
}

.icon {
  font-size: 18px;
}

.noTask {
  flex-grow: 1;
  height: 30px;
  border: dotted 2px #a8a8a8;
  border-radius: 0.25rem;
  background-color: #e7e7e7;
}

.taskArea {
  flex-direction: column;
  font-size: 1.25rem;
}

.toDoArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.feedbackArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.progressArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.doneArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.createTaskButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.75rem;
}

.createTaskButton:hover {
  width: unset;
  height: unset;
  fill: unset;
}

.responsiveButton {
  cursor: pointer;
}

.fs16 {
  font-size: 16px;
}

.toDos {
  min-width: 15.75rem;
}
.drag-area-highlight {
  background-color: rgba(231, 231, 231, 0.7);
}

.bigTaskContainer {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.hover{
  cursor: pointer;
}

@media (min-width: 700px) {
  .taskArea {
    flex-direction: unset;
  }

  .boardMobile {
    display: none;
  }

  .boardDesktop {
    display: unset;
    display: flex;
  }
}

@media (max-width: 1280px) {
  .taskArea {
    flex-wrap: wrap;
  }

  .toDoArea {
    flex-direction: unset;
    justify-content: unset;
  }
  .feedbackArea {
    flex-direction: unset;
    justify-content: unset;
  }
  .progressArea {
    flex-direction: unset;
    justify-content: unset;
  }
  .doneArea {
    flex-direction: unset;
    justify-content: unset;
  }
}

@media (max-width: 700px) {
  /* .toDoArea{
    flex-direction: column;
  } */
  .boardMobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .taskArea {
    align-items: center;
  }
  .toDoArea {
    flex-direction: column;
    justify-content: unset;
  }
  .feedbackArea {
    flex-direction: column;
    justify-content: unset;
  }
  .progressArea {
    flex-direction: column;
    justify-content: unset;
  }
  .doneArea {
    flex-direction: column;
    justify-content: unset;
  }
}
