/* TABLE OF CONTENT 

1. global styles
2. typography
3. components
4. layouts
5. Animations
6. media queries

*/

/* =============
1. global styles   
================ */
* {
  word-break: break-word;
}

input {
  border: none;
  outline: none;
  padding: 10px;
}

/* =============
2. typography   
================ */

.icon {
  font-size: 18px;
}

.fs16 {
  font-size: 16px;
}

/* =============
3. components
================ */

.createTaskButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.75rem;
}

.createTaskButton:hover {
  width: unset;
  height: unset;
  fill: unset;
}

.responsiveButton {
  cursor: pointer;
}

/* =============
4. layouts 
================ */
.main {
  display: flex;
  justify-content: center;
}

.board {
  min-width: 18rem;
  max-width: 70rem;
  padding: 4.5rem 2rem;
  width: 100%;
}

.boardDesktop {
  display: none;
}

.addTaskBoard {
  position: relative;

  width: 60rem;
  height: 50rem;
  border-radius: 2rem;
  padding: 4rem;
  background-color: white;
}

.addTaskContainer {
  display: none;
  position: absolute;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.addTaskBoard-content-form-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-grow: 1;
}

.addTask-seperator {
  background-color: #d1d1d1;
  width: 1px;
  height: 75%;
}

.renderedInitialsContainer {
  display: flex;
  gap: 12px;
  margin-top: 8px;
  overflow: auto;
}

.renderedInitial {
  display: flex;
  color: white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  font-size: 12px;
}

.popup-addTask-container {
  background-color: #2a3647;
  width: 312px;
  height: 74px;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  gap: 22px;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: bottom 0.3s ease, opactiy 0.3s ease;
}

.popup-addTask-container.visible {
  bottom: 50%;
  opacity: 1;
}

.addTask-seperator-container {
  background-color: #d1d1d1;
  width: 2px;
  height: 310px;
  display: none;
}

.input-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  flex-grow: 1;
  background-color: white;
}

.icon-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.divider {
  height: 24px;
  width: 1px;
  background-color: #ccc;
  margin-right: 10px;
}

.noTask {
  flex-grow: 1;
  height: 30px;
  border: dotted 2px #a8a8a8;
  border-radius: 0.25rem;
  background-color: #e7e7e7;
}

.taskArea {
  flex-direction: column;
  font-size: 1.25rem;
}

.toDoArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.feedbackArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.progressArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.doneArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.dropDownContainer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 26.375rem;
  max-height: 14.375rem;
  margin-top: 2.75rem;
  gap: 0.375rem;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: var(--button-radius);
}

.toDos {
  min-width: 15.75rem;
}
.drag-area-highlight {
  background-color: rgba(231, 231, 231, 0.7);
  border: dotted 1.5px black;
  border-radius: 1rem;
}

.bigTaskContainer {
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.subTaskHover:hover {
  background-color: var(--main-background-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

.subtaskList {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtask-icon-container {
  display: flex;
  width: 3.75rem;
  justify-content: space-between;
  align-items: center;
}

.subtask-separator {
  background-color: #d1d1d1;
  width: 1px;
  height: 24px;
}

.hover {
  cursor: pointer;
}

.svgUrgent {
  color: #ff3d00;
}

.svgMedium {
  color: #ffa800;
}

.svgLow {
  color: #7ae229;
}

.landscape-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 100vh;
  z-index: 1000;
}

/* =============
5. Animations   
================ */

.show {
  animation: slideIn 0.5s forwards;
  visibility: visible;
}

@keyframes slideIn {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}

/* =============
6. media queries   
================ */

@media (min-width: 700px) {
  .taskArea {
    flex-direction: unset;
  }

  .boardMobile {
    display: none;
  }

  .boardDesktop {
    display: unset;
    display: flex;
  }
}

@media (max-width: 1280px) {
  .taskArea {
    flex-wrap: wrap;
  }

  .toDoArea {
    flex-direction: unset;
    justify-content: unset;
  }
  .feedbackArea {
    flex-direction: unset;
    justify-content: unset;
  }
  .progressArea {
    flex-direction: unset;
    justify-content: unset;
  }
  .doneArea {
    flex-direction: unset;
    justify-content: unset;
  }
}

@media (max-width: 700px) {
  .toDos {
    width: 100%;
    max-width: 40rem;
  }
  .boardMobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .taskArea {
    align-items: center;
  }
  .toDoArea {
    flex-direction: column;
    justify-content: unset;
  }
  .feedbackArea {
    flex-direction: column;
    justify-content: unset;
  }
  .progressArea {
    flex-direction: column;
    justify-content: unset;
  }
  .doneArea {
    flex-direction: column;
    justify-content: unset;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .landscape-warning {
    display: block;
  }
}