h1 {
    font-size: 47px;
}

@media (min-width: 800px) {
    h1 {
        font-size: 61px;
    }
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    color: #2A3647;
}

h5 {
    font-size: 16px;
    font-weight: 700;
}

.d-flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.g-8 {
    gap: 8px;
}

.g-15 {
    gap: 15px;
}

.g-20 {
    gap: 20px;
}

.g-22 {
    gap: 22px; 
}


.phone-number {
    color: #000000;
    text-decoration: none;
}

/* ------------------------------------global */

.sec-contact-view {
    height: inherit;
    padding: 48px 38px;
    background-color: var(--main-background);
}

.view-contact-seperator {
    height: 3px;
    width: 90px;
    background-color: #29ABE2;
}

.contact-info {
    margin-top: 34px;
}

.contact-profil-elipse {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #FF7A00;
    color: white;
    font-size: 27px;
    border: solid 2px white;
}

@media (min-width: 800px) {
    .mobile-menu-button {
        display: none;
    }
}
