:focus {
  outline: none;
}

h1 {
  font-size: var(--h1-font-size);
}

img {
  cursor: pointer;
}

.main-addTask-container {
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: 20px;
  max-width: 1120px;
  height: 100%;
  padding: 8px;
}

.main-addTask-container h1{
  font-size: 3.75rem;
}

.form-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 82px;
}

.subTaskList {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.inputFieldDesign {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  border-bottom: 2px solid #29abe2;
  gap: 1rem;
}

.inputFieldEdit {
  width: 100%;
}

.subTaskIcons {
  display: flex;
  width: 3.75rem;
  justify-content: space-between;
  align-items: center;
}

.seperator {
  height: 80%;
  width: 1px;
  background-color: grey;
}

.addTask-content-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-description-assigned-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
}

.edit-assigned-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-description-assigned {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputAssignedToContainer {
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  height: 42px;
  border-radius: var(--button-radius);
  padding: 8px;
  background-color: white;
  align-items: center;

  position: relative;
  z-index: 2;
}

.inputAssignedToContainer img,
.category-container img {
    width: 10px;
    height: 10px;
}

.dropDownContainer {
  border-radius: var(--button-radius);
  background-color: white;
  margin-top: -42px;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-height: 230px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  max-width: 365px;
  width: 100%;
}

.dropDownContacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.inputAssignedToContainer:focus-within,
.subtasks-input-add-container:focus-within {
  border-color: var(--join-light-blue);
}

.inputAssignedToContainer input {
  border: none;
  outline: none;
  height: 32px;
}

.add-subtask:hover,
.arrow-drop-down-img:hover,
.subtask-close-icon:hover,
.subtask-checked-icon:hover {
    border-radius: 50%;
    background-color: #D1D1D1;
}

.dropDownContacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.initialNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.initialsAssigned {
  width: 42px;
  height: 42px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  background-color: yellow;
}

.addTask-seperator-container {
  background-color: #d1d1d1;
  width: 2px;
  height: 310px;
  display: none;
}

.dueDate-prio-category-subtasks-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
}

.dueDate-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.prio-buttons {
  display: flex;
  height: 32px;
  gap: 12px;
}

.urgentButton,
.mediumButton,
.lowButton {
    border-radius: var(--button-radius);
    border: 1px solid #D1D1D1;
    background-color: white;
    flex: 1;
}

.add-subtask,
.arrow-drop-down-img,
.subtask-close-icon,
.subtask-checked-icon {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.prio-buttons button {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.prio-buttons img {
  width: 20px;
  height: 14px;
}

.prio-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.urgent-medium-low-buttons {
  border-radius: var(--button-radius);
  border: 1px solid #d1d1d1;
  background-color: white;
  flex: 1;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* display: none; */
  display: flex;
}

.subtasks-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  /* display: none; */
  display: flex;
}

.subtasks-input-add-container {
  border-radius: var(--input-select-textarea-radius);
  height: 42px;
  padding: 8px;
  border: 1px solid #d1d1d1;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtasks-input {
  border: none;
  outline: none;
}

.add-subtask img {
  height: 10px;
  width: 10px;
}

.title-input {
  border-radius: var(--input-select-textarea-radius);
  height: 40px;
  padding: 8px;
  border: 1px solid #d1d1d1;
  outline: none;
}

.title-input:hover {
  cursor: pointer;
}

.title-input:focus,
textarea:focus {
  border-color: var(--join-light-blue);
}

.star {
  color: red;
}

.addTask-label {
  font-size: var(--addTask-label-font-size);
}

textarea {
  border-radius: var(--input-select-textarea-radius);
  padding: 8px;
  border: 1px solid #d1d1d1;
  resize: none;
  outline: none;
}

.category-header-container {
  border-radius: var(--input-select-textarea-radius);
  height: 42px;
  padding: 8px;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  background-color: white;

  position: relative;
  z-index: 2;
}

.category-dropdown-container {
  border-radius: var(--input-select-textarea-radius);
  background-color: white;
  display: flex;
  flex-direction: column;

  margin-top: -40px;
  padding-top: 36px;
}

.choose-category-container {
  border-radius: var(--input-select-textarea-radius);
  height: 34px;
  padding: 8px;
  background-color: white;
  cursor: pointer;
}

.choose-category-container:hover,
.dropDownContacts:hover {
  border-radius: var(--input-select-textarea-radius);
  background-color: rgb(223, 219, 219);
}

.form-confirmation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.clear-create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.clear-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 46px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background-color: var(--button-background-color-bright);
  font-size: var(--button-font-size);
  cursor: pointer;
}

.create-task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  border-radius: var(--button-radius);
  border: 1px solid #2a3647;
  background-color: var(--button-background-color-dark);
  color: white;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  cursor: pointer;
}

.required {
  font-size: 12px;
}

.d-none {
  display: none;
}

@media (min-width: 450px) {
  .clear-button {
    display: flex;
  }

  .subtasks-container,
  .category-header-container,
  .urgent-medium-low-buttons,
  .title-input,
  textarea,
  .inputAssignedToContainer {
    cursor: pointer;
  }

}

@media (max-width: 450px){
    
  .prio-buttons button{
    gap: clamp(0.25rem, 3vw, 1rem)
  }
}

.main-addTask-container,
.dropDownContainer {
  --sb-track-color: white;
  --sb-thumb-color: #a8a8a8;
  --sb-size: 8px;
}

.main-addTask-container::-webkit-scrollbar,
.dropDownContainer::-webkit-scrollbar {
  width: var(--sb-size);
}

.main-addTask-container::-webkit-scrollbar,
.dropDownContainer::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

.main-addTask-container::-webkit-scrollbar,
.dropDownContainer::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
  .main-addTask-container,
  .dropDownContainer {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
