* {
  box-sizing: border-box;
  margin: 0px;
}

@font-face {
  font-family: Inter;
  src: url("../assets/font/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: Open_Sans;
  src: url("../assets/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
  margin: 0;
  height: 100vh;
  font-family: Inter;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.desktop-view {
  width: 100%;
}

main {
  height: calc(100vh - 160px);
  width: 100%;
  overflow: auto;
}

@media (min-width: 800px) {

  body {
    flex-direction: row;
  }

  .desktop-view{
    height: 100vh;
    width: calc(100% - 232px);
  }

  main {
    height: calc(100vh - 80px);
  }
}

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.gap1 {
  gap: 1rem;
}

.gap025 {
  gap: 0.25rem;
}

.gap050 {
  gap: 0.50rem;
}

.dflex-col {
  flex-direction: column;
}

.alic {
  align-items: center;
}

.jc-fe {
  justify-content: flex-end;
}

.pt1 {
  padding-top: 1rem;
}

.plr1 {
  padding: 0rem 1rem;
}

.p050{
  padding: 0.5rem;
}
.pt1 {
  padding-top: 1rem;
}

.br1 {
  border-radius: 0.5rem;
}

.jc-c {
  justify-content: center;
}

.d-none{
  display: none;
}