header {
  z-index: 1;
  position: relative;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1rem;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.header .help-button {
  width: 20px;
  height: 20px;
}

.userIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

header .circle {
  font-size: 20px;
  font-weight: 600;
  color: var(--join-light-blue);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--join-dark-blue);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  z-index: 1;
}

header .circle:hover {
  background-color: #e2e6ec;
}

.help {
  display: none;
}

.brHelp {
  display: none;
}

.posRelative {
  position: relative;
  top: 5rem;
  right: 1rem;
}

.posAbs {
  position: absolute;
  top: 0px;
  right: 0px;
}

.popUp {
  background-color: var(--join-dark-blue);
  font-size: 12px;
  width: 100%;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.header-link {
  text-decoration: none;
  color: #cdcdcd;
}

.header-link:hover {
  background-color: #2a3d59;
}

.headline {
  width: 100%;
  display: none;
}

.headline span {
  font-size: 1.25rem;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .help-button {
    display: none;
  }
}

@media (min-width: 1024px) {
  .help-button {
    transition: transform 0.2s;
  }

  .header .help-button:hover {
    transform: scale(1.3);
  }

  .userIcons {
    gap: 1.3rem;
  }

  .headline {
    display: unset;
  }

  .joinLogo {
    display: none;
  }

  header .circle {
    font-size: 28px;
    font-weight: 600;
    border: 3px solid var(--join-dark-blue);
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (max-width: 1024px) {
  .help {
    display: unset;
    padding: 0.5rem;
  }
  .brHelp {
    display: unset;
  }
  .posRelative {
    right: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0em 2rem 0 7rem;
    height: 6rem;
  }

  .posRelative {
    top: 6rem;
  }
}
