header {
  z-index: 1;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0em 1rem;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.header img {
  width: 2em;
  height: 2.5em;
}

.userIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.circle {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  z-index: 1;
}

.help{
  display: none;
}

.brHelp{
  display: none;
}

.posRelative{
  position: relative;
  top: 5rem;
  right: 1rem;
}


.posAbs{
  position: absolute;
  top: 0px;
  right: 0px;
}


.popUp{
  background-color: var(--join-dark-blue);
  font-size: 12px;
  width: 100%;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: -2px 0px 6px 0px rgb(0,0,0, 0.2);
}

header a{
  text-decoration: none;
  color: #CDCDCD;
}
header a:hover{
  background-color: #2a3d59;
}


.headline {
  width: 100%;
  display: none;
}

@media (max-width: 500px) {
  .smallCircle {
    display: none;
  }
}

@media (min-width: 800px) {
  .headline {
    display: unset;
    font-size: 1.5rem;
  }
  .joinLogo {
    display: none;
  }

}

@media (max-width:800px){
  .help{
    display: unset;
    padding: 0.5rem;
  }
  .brHelp{
    display: unset;
  }
  .posRelative{
    right: 0.5rem;
  }
}

@media (min-width:800px){
  .header {
    padding: 0em 2rem 0 7rem;
  }
}
