main {
    background-color: var(--main-background);
}

section.legalNotice {
    overflow: auto;
    height: 100%;
    padding: 0 20px;
    padding-bottom: 50px;
}

h1 {
    font-size: 47px;
    margin: 30px 0;
    margin-top: 60px;
}

h2 {
    font-size: 27px;
    margin: 12px 0;
}

h3 {
    font-size: 18px;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button-container a:active {
    padding: 4px;
    border-radius: 20px;
    background-color: #EEEEEE;
}

section.legalNotice ul {
    padding-left: 21px;
}

section.legalNotice p {
    margin: 24px 0;
}

.title {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.highlight-text {
    color: var(--join-light-blue);
}

.e-mail {
    color: var(--email-blue);
    text-decoration: none;
    display: contents;
}

.back-button-container a {
    position: absolute;
    right: 20px;
}

ol {
    padding-left: 0;
    list-style-type: none;
    counter-reset: item;
}


ol li {
    text-indent: 0px;
    position: relative;
    padding-left: 28px;
    counter-increment: item;
}


ol li::before {
    content: counter(item) ".";
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 20px;
    font-weight: bold;
}

.oList-padding {
    padding-left: 28px;
}

/* @media (min-width: 1180px) { */
@media (min-width: 1024px) {

    section.legalNotice {
        padding: 0 100px;
    }

    h1 {
        font-size: 61px;
        margin-top: 104px;
    }
    
    .back-button-container a:hover {
        padding: 4px;
        border-radius: 20px;
        background-color: #EEEEEE;
    }
    
    .back-button-container a {
        right: 100px;
        top: 220px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 38px;
        margin-bottom: 14px;
    }

    .oList-padding {
        padding-left: 16px;
    }
}

@media (min-width: 1440px) {
    main {
        display: flex;
        /* justify-content: center; */
    }

    section.legalNotice {
        max-width: 1204px;
    }
}

@media (max-width: 1024px) {
    .mobile-hide {
        display: none;
    }

    .mobile-h-unset {
        height: unset;
    }
}