* {
    box-sizing: border-box;
}

.main-container {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    border: 1px solid green;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.login-main-container {
    border: 1px solid lightgrey;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
}

.login-seperator {
    background-color: #29ABE2;
    width: 60px;
    height: 3px;
    margin-right: -12px
}

.header-seperator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-email-container,
.input-password-container {
    border-radius: 12px;
    height: 42px;
    padding: 8px;
    border: 1px solid #D1D1D1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    max-width: 430px;
    margin: 0 auto;
    width: 100%;
}

.input-email-container img {
    width: 20px;
    height: 20px;
}

.input-password-container img {
    width: 20px;
    height: 20px;
}

.input-email,
.input-password {
    border: none;
    padding-left: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 12px;
    /* margin-left: 14px; */
    max-width: 430px;
    margin: 0 auto;
    width: 100%;
}

.button-login-guest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button-login-guest-container button {
    width: 180px;
    height: 52px;
    border-radius: 8px;
}

.text-button-container {
    display: flex;
    justify-content: space-evenly;

}

.text-button-container button {
    width: 104px;
    height: 50px;
    border-radius: 8px;
    background-color: #2a3647;
    color: white;
}

.policy-notice-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.policy-notice-container a {
    color: #BBBBBC;
}

a {
    text-decoration: none;
}

@media(min-width: 600px) {
    .button-login-guest-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

}