.start-logo-background {
    /* background-color: var(--join-dark-blue); */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--main-background-color);
    z-index: 1;
    opacity: 1;
    transition: opacity 1.5s ease;
}

.start-position-logo {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
}


@media(max-width: 1024px) {
    .start-logo-background {
        opacity: 0; /* Blendet das Element aus */
        z-index: 1;
    }

    .end-position-logo {
        position: absolute;
        top: 80px;
        left: 77px;
        transform: translate(0%, 0%);
        width: 100.03px;
        height: 121.97px;
    }


    .start-logo-background {
        background-color: var(--join-dark-blue);
    }

    .start-position-logo .white-logo {
        fill: white;
    }

    .end-position-logo .white-logo {
        fill: #2A3647;
    }
}
