* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.logo-container {
    margin-left: 6px;
}

.logo-container img {
    width: 64px;
    height: 78px;
}

.sign-up-main-container {
    border: 1px solid lightgrey;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12px;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.vector-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.vector-header-container img {
    cursor: pointer;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.sign-up-seperator {
    background-color: #29ABE2;
    width: 72px;
    height: 2px;
    margin-right: -36px
}

.header-vector-seperator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.input-name-container, .input-email-container, .input-password-container, .input-confirm-password-container {
    border-radius: 12px;
    height: 42px;
    padding: 8px;
    border: 1px solid #D1D1D1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
}

.input-name, .input-email, .input-password, .input-confirm-password {
    border: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.checkbox-container a{
    color: #29ABE2;
}

.button-container{
    display: flex;
    justify-content: center;
}

button {
    width: 180px;
    height: 52px;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
}

.policy-notice-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.policy-notice-container a {
    color: #BBBBBC;
}

a {
    text-decoration: none;
}