@font-face {
    font-family: Inter;
    src: url("../font/Inter-VariableFont_opsz\,wght.ttf");
}
  
body {
    font-family: 'Inter';
}

* {
    box-sizing: border-box;
    margin: 0px;
  }

.summary-main-content-div {
    border: 1px solid green;
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.To-Do-Done-box {
    display: flex;
    justify-content: space-evenly;
}

.to-do-box, .done-box {
    display: flex;
    gap: 10px;
    border: 1px solid grey;
    background-color: white;
}

.icon-summary {
    width: 40px;
    height: 40px;
}

.content-header-seperator-box {
    width: 100px;
    height: 2px;
    background-color: #29ABE2;
    margin: 10px 0 ;
}

.test {
    text-align: center;
}

.affe {
    display: none;
}

