

@font-face {
    font-family: Inter;
    src: url("../font/Inter-VariableFont_opsz\,wght.ttf");
}

:root {
    --main-background-color: #F6F7F8;
    --h1-font-size: 42px;
    --border-radius: 12px;  
    --border-color: #edeeef;
    
    --summary-font-bold-num-color: rgb(0,0,0);
    --summary-font-weight-bold: bold;
    --font-size-num: 34px;
}
  
body {
    font-family: 'Inter';
}

* {
    box-sizing: border-box;
    margin: 0px;
  }
  

.summary-main-content-box {
    border: 1px solid green;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-seperator-box {
    background-color: #29ABE2;
    height: 2px;
    width: 70px;
    grid-area: seperator;
}

h1 {
    font-size: var(--h1-font-size);
    margin-block-start: 0em;
    margin-block-end: 0em;
    grid-area: header;
}

.header-text {
    grid-area: text;
}

.content-header-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    grid-template-areas:
        "header"
        "text"
        "seperator"
    ;
}


.content-summary-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.To-Do-Done-box {
    display: flex;
    justify-content: space-between;
}

.to-do-box, .done-box {
    display: flex;
    gap: 10px;
    border: 1px solid var(--border-color);
    background-color: white;
    width: 144px;
    padding: 10px;
    border-radius: var(--border-radius);
    align-items: center;
}

.font-type2 {
    font-weight: var(--summary-font-weight-bold);
    color: var(--summary-font-bold-num-color);
    font-size: var(--font-size-num);   
}

.icon-summary {
    width: 40px;
    height: 40px;
}

.content-header-seperator-box {
    width: 80px;
    height: 2px;
    background-color: #29ABE2;
    margin: 10px 0 ;
}

.urgent-deadline-box {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}

.urgent-box{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.content-seperator-box{
    background-color: rgb(209,209,209);
    width: 2px;
    height: 60px;
    margin-right: 10px;
    margin-top: 8px;
}

.date-deadline-box {
    gap: 4px;
    /* text-align: left; */
    font-size: 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-date {
    font-weight: 700;
    font-size: 18px;
}

.board-progress-feedback-box {
    display: flex;
    justify-content: space-between;
}

.single-box-board-progress-feedback {
    border: 1px solid var(--border-color);
    background-color: white;
    border-radius: var(--border-radius);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.num-text {
    text-align: center;
}





@media(min-width: 440px) {
    .content-header-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
        grid-template-areas:
            "header seperator text"
        ;
        align-items: center;
    }

    .header-seperator-box {
        background-color: #29ABE2;
        height: 40px;
        width: 2px;
        grid-area: seperator;
    }

    h1 {
        display: inline-block;
    }
  
}